<a href="https://colab.research.google.com/github/jovindsouza/Capstone/blob/master/Week_3-part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **IBM Applied Data Science Capstone Course by Coursera**

**1. Importing the libraries**

In [ ]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML and XML documents

from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

print("Libraries imported.")

Libraries imported.



**2. Scrap data from Wikipedia page into a DataFrame**

In [ ]:
# send the GET request
data =requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text


# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(data, 'html.parser')

# create three lists to store table data
postalCodeList = []
boroughList = []
neighborhoodList = []

In [48]:
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')
    if(len(cells) > 0):
        postalCodeList.append(cells[0].text)
        boroughList.append(cells[1].text)
        neighborhoodList.append(cells[2].text.rstrip('\n')) # remove the new line char from neighborhood cell

In [84]:
# create a new DataFrame from the three lists
toronto_df = pd.DataFrame({"PostalCode": postalCodeList,
                           "Borough": boroughList,
                           "Neighborhood": neighborhoodList})

toronto_df = toronto_df.replace('\n',' ', regex=True)

toronto_df.to_csv('file.csv')

**3. Drop cells with a borough that is "Not assigned"**

In [111]:
data=pd.read_csv('file.csv')

toronto_df = data[data.Neighborhood != 'Not assigned'].reset_index(drop=True)
toronto_df.drop(columns={'Unnamed: 0'}).head()

  PostalCode            Borough                                 Neighborhood
0       M3A         North York                                     Parkwoods
1       M4A         North York                              Victoria Village
2       M5A   Downtown Toronto                     Regent Park, Harbourfront
3       M6A         North York              Lawrence Manor, Lawrence Heights
4       M7A   Downtown Toronto   Queen's Park, Ontario Provincial Government


**4. Group neighborhoods in the same borough**

In [103]:
toronto_df_grouped = toronto_df.groupby(["PostalCode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
toronto_df_grouped.head()

  PostalCode       Borough                                       Neighborhood
0       M1B   Scarborough                      Malvern, Rouge, Malvern, Rouge
1       M1C   Scarborough   Rouge Hill, Port Union, Highland Creek, Rouge ...
2       M1E   Scarborough   Guildwood, Morningside, West Hill, Guildwood, ...
3       M1G   Scarborough                                      Woburn, Woburn
4       M1H   Scarborough                                Cedarbrae, Cedarbrae

**5. Finding the shape**

In [105]:
# print the number of rows of the cleaned dataframe
toronto_df_grouped.shape

(103, 3)